$default-bg: #f8f9fa !default;
$font-cr: gray !default;
$hover-bg: #dadce0 !default;
$hover-cr: black !default;
$node-pt: 5px !default;

//depth font size
$depth1-fs: 17px !default;
$depth2-fs: 17px !default;
$depth3-fs: 17px !default;
$depth4-fs: 17px !default;
$depth5-fs: 17px !default;

//depth padding Left
$depth1-pl: 5px !default;
$depth2-pl: 5px !default;
$depth3-pl: 5px !default;
$depth4-pl: 5px !default;
$depth5-pl: 5px !default;

.course * {
  font-family: "Open Sans", sans-serif;
}

.course {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $default-bg;
}

.nav > li > div {
  &:focus {
    color: #15c;
    background-color: red;
  }
}

li[name="depth1"] {
  &.active > div {
    color: $font-cr;
    background: $default-bg;
  }

  > div {
    color: $font-cr;

    &:hover {
      color: $hover-cr;
      background: $hover-bg;
    }
  }

  //> ul {
  //margin-left: 0px;
  //}

  > div > div:nth-child(2) {
    padding: $node-pt $depth1-pl;
    font-size: $depth1-fs;
  }
}

li[name="depth2"] {
  &.active > div {
    color: $font-cr;
    background: $default-bg;
  }
  > div {
    color: $font-cr;

    &:hover {
      color: $hover-cr;
      background: $hover-bg;
    }
  }

  //> ul {
  //margin-left: 0px;
  //}

  > div > div:nth-child(2) {
    padding: $node-pt $depth2-pl;
    font-size: $depth2-fs;
    //font-weight: bold;
  }
}

li[name="depth3"] {
  &.active > div {
    color: $font-cr;
    background: $default-bg;
  }
  > div {
    color: $font-cr;
    &:hover {
      color: $hover-cr;
      background: $hover-bg;
    }
  }

  //> ul {
  //margin-left: 0px;
  //}

  > div > div:nth-child(2) {
    padding: $node-pt $depth3-pl;
    font-size: $depth3-fs;
  }
}

li[name="depth4"] {
  &.active > div {
    color: $font-cr;
    background: $default-bg;
  }
  > div {
    color: $font-cr;
    &:hover {
      color: $hover-cr;
      background: $hover-bg;
    }
  }

  //> ul {
  //margin-left: 0px;
  //}

  > div > div:nth-child(2) {
    padding: $node-pt $depth4-pl;
    font-size: $depth4-fs;
  }
}

li[name="depth5"] {
  &.active > div {
    color: $font-cr;
    background: $default-bg;
  }
  > div {
    color: $font-cr;
    &:hover {
      color: $hover-cr;
      background: $hover-bg;
    }
  }

  //> ul {
  //margin-left: 0px;
  //}

  > div > div:nth-child(2) {
    padding: $node-pt $depth5-pl;
    font-size: $depth5-fs;
  }
}

.icon {
  float: left;
  margin-right: 15px;
  line-height: 30px;
  text-align: center;
}

.subjectButton {
  display: -webkit-inline-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px 4px 0px 4px;
  border-width: 0;
  font-size: 0.9em;
  color: white;
  cursor: pointer;
  opacity: 0.6;
  margin-left: 5px;
  &:hover {
    opacity: 1;
  }
}

.dim {
  width: 100%;
  height: 100%;
  justify-content: center;
  // background-color: rgba(128, 128, 128, 0.2);

  > div {
    text-align: center;
    padding-top: calc(50% - 20px);
  }
}
